.kt-sc-faq {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-sc-faq .kt-sc__top {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6rem 0 10rem;
}

.kt-sc-faq .kt-sc__top .kt-sc__title {
    color: #48465b;
    font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 0;
}

.kt-sc-faq .kt-sc__top .kt-sc__nav { margin: auto 0 auto auto; }

.kt-sc-faq .kt-sc__top .kt-sc__nav .kt-link {
    font-size: 1.3rem;
    font-weight: 400;
}