.kt-sc {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.kt-sc .kt-sc__top {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.kt-sc .kt-sc__top .kt-sc__title {
    color: #48465b;
    font-size: 1.45rem;
    margin-bottom: 0;
}

.kt-sc .kt-sc__top .kt-sc__nav .kt-link {
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 2rem;
}

.kt-sc .kt-sc__top .kt-sc__nav .kt-link:first-child { margin-right: 0; }

.kt-sc .kt-sc__bottom {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.kt-sc .kt-sc__bottom .kt-sc__heading { margin-bottom: 4rem; }

.kt-sc .kt-sc__bottom .kt-sc__form .input-group {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(122, 104, 181, 0.09);
    box-shadow: 0px 0px 9px 0px rgba(122, 104, 181, 0.09);
    width: 630px;
}

.kt-sc .kt-sc__bottom .kt-sc__form .input-group .input-group-text {
    background-color: #ffffff;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0.65rem 2rem;
}

.kt-sc .kt-sc__bottom .kt-sc__form .input-group .form-control {
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2.5rem 0;
}

@media (max-width: 1024px) {
    .kt-content--fit-top .kt-sc { margin-top: -15px; }

    .kt-sc .kt-sc__top .kt-sc__nav .kt-link { margin-right: 1rem; }

    .kt-sc .kt-sc__top .kt-sc__nav .kt-link:first-child { margin-right: 0; }

    .kt-sc .kt-sc__bottom .kt-sc__form .input-group { width: 100%; }
}