.kt-sc-2 {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
}

.kt-sc-2 .kt-sc__bg {
    -ms-flex-align: end;
    -ms-flex-pack: end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    align-items: flex-end;
    bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    left: 4rem;
    position: absolute;
    right: 4rem;
    top: 4rem;
    z-index: 0;
}

.kt-sc-2 .kt-sc__bg .kt-svg-icon {
    height: 100%;
    width: auto;
}

.kt-sc-2 .kt-sc__bg--layer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.kt-sc-2 .kt-sc__bg--layer .kt-svg-icon {
    fill: #f7f8fa;
    height: auto;
    width: 100%;
}

.kt-sc-2 .kt-sc-bg-2 .kt-svg-icon {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.kt-sc-2 .kt-sc__top {
    min-height: 385px;
    position: relative;
    z-index: 1;
}

.kt-sc-2 .kt-sc__top .kt-sc__content {
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50%;
    min-height: 385px;
    padding: 0 3rem;
}

.kt-sc-2 .kt-sc__top .kt-sc__content .kt-sc__title {
    color: #48465b;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.kt-sc-2 .kt-sc__top .kt-sc__content .kt-sc__form .input-group {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(160, 160, 191, 0.2);
    box-shadow: 0px 0px 27px 0px rgba(160, 160, 191, 0.2);
    width: 450px;
}

.kt-sc-2 .kt-sc__top .kt-sc__content .kt-sc__form .input-group .input-group-text {
    background-color: #ffffff;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0.65rem 2rem;
}

.kt-sc-2 .kt-sc__top .kt-sc__content .kt-sc__form .input-group .form-control {
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2.5rem 0;
}

.kt-sc-2 .kt-sc__bottom {
    padding: 25px 25px 0;
    position: relative;
    z-index: 1;
}

.kt-sc-2 .kt-sc__bottom .nav-tabs { margin-bottom: -25px; }

.kt-sc-2 .kt-sc__bottom .nav-tabs.nav-tabs-line {
    border-bottom: 0;
    padding: 0 3rem;
}

.kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item { margin-right: 50px; }

.kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item .nav-link, .kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    color: #48465b;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 25px;
    padding: 0 0 1.5rem;
}

.kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item .nav-link:hover, .kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item a.nav-link:hover {
    border-bottom: 2px solid #5d78ff;
    color: #48465b;
}

.kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item .nav-link.active, .kt-sc-2 .kt-sc__bottom .nav-tabs .nav-item a.nav-link.active {
    border-bottom: 2px solid #5d78ff;
    color: #5d78ff;
}

.kt-sc-2--wave {
    background-color: #f7f8fa !important;
    overflow: hidden;
    position: relative;
}

.kt-sc-2--wave > div { z-index: 1; }

.kt-sc-2--wave:before {
    background-color: #fff;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.kt-sc-2--wave:after {
    background: white;
    border-radius: 35%;
    bottom: 65%;
    content: ' ';
    height: 1025px;
    left: -250px;
    position: absolute;
    width: 1000px;
    z-index: 0;
}

.kt-sc-2--wave:after {
    -webkit-transform: rotate(45deg);
    bottom: 25%;
    transform: rotate(45deg);
}

@media (max-width: 1024px) {
    .kt-sc-2 { min-height: auto; }

    .kt-sc-2 .kt-sc__bg { opacity: 0.2; }

    .kt-sc-2 .kt-sc__top { min-height: auto; }

    .kt-sc-2 .kt-sc__top .kt-sc__content {
        margin-right: 0;
        min-height: auto;
        padding: 4rem 0;
    }

    .kt-sc-2 .kt-sc__top .kt-sc__content .kt-sc__form .input-group { width: 100%; }
}