.kt-invoice-2 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.kt-invoice-2 .kt-invoice__container {
    margin: 0;
    padding: 0 30px;
    width: 100%;
}

.kt-invoice-2 .kt-invoice__head {
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 80px 0;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__brand {
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__title {
    color: #595d6e;
    font-size: 2.7rem;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: right;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo img { text-align: right; }

.kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo .kt-invoice__desc {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    color: #74788d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 1rem 0 1rem 0;
    text-align: right;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__items {
    -ms-flex-wrap: wrap;
    border-top: 1px solid #ebedf2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__items .kt-invoice__item {
    -ms-flex: 1;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    color: #595d6e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 20px;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__items .kt-invoice__item:last-child { margin-right: 0; }

.kt-invoice-2 .kt-invoice__head .kt-invoice__items .kt-invoice__item .kt-invoice__subtitle {
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.kt-invoice-2 .kt-invoice__head .kt-invoice__items .kt-invoice__item .kt-invoice__text {
    color: #74788d;
    font-weight: 400;
}

.kt-invoice-2 .kt-invoice__body { padding: 3rem 0; }

.kt-invoice-2 .kt-invoice__body table { background-color: transparent; }

.kt-invoice-2 .kt-invoice__body table thead tr th {
    background-color: transparent;
    border-bottom: 1px solid #ebedf2;
    border-top: 0;
    color: #74788d;
    padding: 1rem 0 0.5rem 0;
}

.kt-invoice-2 .kt-invoice__body table thead tr th:not(:first-child) { text-align: right; }

.kt-invoice-2 .kt-invoice__body table tbody tr td {
    background-color: transparent;
    border-top: none;
    color: #595d6e;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0 1rem 0;
}

.kt-invoice-2 .kt-invoice__body table tbody tr td:not(:first-child) { text-align: right; }

.kt-invoice-2 .kt-invoice__body table tbody tr:first-child td { padding-top: 1.8rem; }

.kt-invoice-2 .kt-invoice__footer {
    background-color: #f7f8fa;
    padding: 3rem 0;
}

.kt-invoice-2 .kt-invoice__footer .kt-invoice__container {
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kt-invoice-2 .kt-invoice__footer .table {
    background-color: transparent;
    padding: 0;
}

.kt-invoice-2 .kt-invoice__footer .table th {
    background-color: transparent;
    border-bottom: 1px solid #ebedf2;
    border-top: 0;
    color: #74788d;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 10px 10px 0;
    text-transform: capitalize;
}

.kt-invoice-2 .kt-invoice__footer .table th:last-child { padding-right: 0; }

.kt-invoice-2 .kt-invoice__footer .table td {
    background-color: transparent;
    color: #595d6e;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 10px 10px 0;
    text-transform: capitalize;
}

.kt-invoice-2 .kt-invoice__footer .table td:last-child { padding-right: 0; }

.kt-invoice-2 .kt-invoice__actions { padding: 2rem 0; }

.kt-invoice-2 .kt-invoice__actions .kt-invoice__container {
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1025px) {
    .kt-invoice-2 .kt-invoice__container {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .kt-invoice-2 .kt-invoice__container {
        margin: 0;
        padding: 0 20px;
        width: 100%;
    }

    .kt-invoice-2 .kt-invoice__head { padding: 20px 0; }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__brand {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo { text-align: left; }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo img { text-align: left; }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__brand .kt-invoice__logo .kt-invoice__desc { text-align: left; }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__items { margin-top: 20px; }

    .kt-invoice-2 .kt-invoice__body { padding: 2rem 0; }

    .kt-invoice-2 .kt-invoice__footer { padding: 2rem 0; }
}

@media print {
    .kt-header,
    .kt-header-mobile,
    .kt-aside,
    .kt-footer,
    .kt-subheader,
    .kt-scrolltop,
    .kt-quick-panel,
    .kt-demo-panel,
    .kt-sticky-toolbar { display: none !important; }

    body,
    .kt-wrapper,
    .kt-body,
    .kt-content {
        background: transparent !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .kt-invoice-2 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .kt-invoice-2 .kt-invoice__head {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .kt-invoice-2 .kt-invoice__head .kt-invoice__container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .kt-invoice-2 .kt-invoice__actions { display: none !important; }

    .kt-invoice-2 .kt-invoice__footer { background-color: transparent !important; }

    .kt-invoice-2 .kt-invoice__container {
        padding: 0 10px;
        width: 100%;
    }
}