.kt-error-v5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-error-v5 .kt-error_container .kt-error_title > h1 {
    -webkit-text-stroke-color: white;
    color: #314DA7;
    font-size: 14rem;
    font-weight: 700;
    margin-left: 25rem;
    margin-top: 18rem;
}

.kt-error-v5 .kt-error_container .kt-error_subtitle {
    color: #595d6e;
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 26rem;
    margin-top: 3.57rem;
}

.kt-error-v5 .kt-error_container .kt-error_description {
    color: #74788d;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 130%;
    margin-left: 26rem;
}

@media (min-width: 1025px) and (max-width: 1399px) {
    .kt-error-v5 { background-position: bottom -80px left 1300px; }

    .kt-error-v5 .kt-error_container .kt-error_title > h1 {
        font-size: 12rem;
        font-weight: 700;
        margin-left: 7rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_subtitle {
        font-size: 2.3rem;
        font-weight: 700;
        margin-left: 7rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_description {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 130%;
        margin-left: 7rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-error-v5 .kt-error_container .kt-error_title > h1 {
        font-size: 12rem;
        font-weight: 700;
        margin-left: 7rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_subtitle {
        font-size: 2.3rem;
        font-weight: 700;
        margin-left: 7rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_description {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 130%;
        margin-left: 7rem;
    }
}

@media (max-width: 768px) {
    .kt-error-v5 .kt-error_container .kt-error_title > h1 {
        font-size: 6rem;
        margin-left: 4rem;
        margin-top: 5rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_subtitle {
        font-size: 2rem;
        line-height: 2rem;
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .kt-error-v5 .kt-error_container .kt-error_description {
        font-size: 1.4rem;
        margin-left: 4rem;
    }
}