.kt-error-v2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-error-v2 .kt-error_container .kt-error_title2 > h1 {
    font-size: 6rem;
    font-weight: 500;
    margin-top: 45rem;
    text-align: center;
}

.kt-error-v2 .kt-error_container .kt-error_desc {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 768px) {
    .kt-error-v2 .kt-error_container .kt-error_desc {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
}