.kt-wizard-v4 {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items {
    -ms-flex-align: end;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-box-pack: justify;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
    -ms-flex: 0 0 calc(25% - 0.25rem);
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #f7f8fb;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 calc(25% - 0.25rem);
    flex-wrap: wrap;
    justify-content: center;
    width: calc(25% - 0.25rem);
}

@media (max-width: 1399px) {
    .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
        -ms-flex: 0 0 calc(50% - 0.25rem);
        -webkit-box-flex: 0;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        flex: 0 0 calc(50% - 0.25rem);
        margin-bottom: 0.5rem;
        width: calc(50% - 0.25rem);
    }
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
    -ms-flex: 1;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    align-items: center;
    color: #959cb6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 2rem 2.5rem;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
    -ms-flex: 0 0 2.75rem;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    align-items: center;
    background-color: rgba(93, 120, 255, 0.08);
    border-radius: 0.5rem;
    color: #5d78ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 2.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    height: 2.75rem;
    justify-content: center;
    margin-left: 1rem;
    width: 2.75rem;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] { background-color: #ffffff; }

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
    background-color: #5d78ff;
    color: #ffffff;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title { color: #5d78ff; }

@media (max-width: 768px) {
    .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items {
        -ms-flex-align: start;
        -ms-flex-direction: column;
        -webkit-box-align: start;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        align-items: flex-start;
        flex-direction: column;
    }

    .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        position: relative;
        width: 100%;
    }

    .kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
        -ms-flex: 0 0 100%;
        -ms-flex-pack: start;
        -webkit-box-flex: 0;
        -webkit-box-pack: start;
        flex: 0 0 100%;
        justify-content: flex-start;
        padding: 0.5rem 2rem;
    }
}

.kt-wizard-v4 .kt-wizard-v4__wrapper {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
    padding: 4rem 0 5rem;
    width: 60%;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content {
    border-bottom: 1px solid #eeeef4;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__form { margin-top: 3rem; }

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item {
    border-bottom: 1px solid #eeeef4;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item .kt-wizard-v4__review-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item .kt-wizard-v4__review-content { line-height: 1.8rem; }

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content .kt-wizard-v4__review .kt-wizard-v4__review-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions {
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions {
        -ms-flex-pack: center;
        -ms-flex-wrap: wrap;
        -webkit-box-pack: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions .btn { margin: 0 0.5rem 1rem; }
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-prev"] { margin-left: auto; }

@media (max-width: 576px) {
    .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-prev"] { margin-left: 0.5rem; }
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-next"] { margin: auto auto auto 0; }

@media (max-width: 576px) {
    .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-form__actions [data-ktwizard-type="action-next"] { margin: 0 0 1rem; }
}

@media (max-width: 768px) {
    .kt-wizard-v4 .kt-wizard-v4__wrapper { padding: 2rem; }

    .kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
        padding: 2rem 1rem 4rem;
        width: 100%;
    }
}

.kt-wizard-v4 [data-ktwizard-type="step-info"] { display: none; }

.kt-wizard-v4 [data-ktwizard-type="step-info"][data-ktwizard-state="current"] { display: block; }

.kt-wizard-v4 [data-ktwizard-type="step-content"] { display: none; }

.kt-wizard-v4 [data-ktwizard-type="step-content"][data-ktwizard-state="current"] { display: block; }

.kt-wizard-v4 [data-ktwizard-type="action-prev"] { display: none; }

.kt-wizard-v4 [data-ktwizard-type="action-next"] { display: inline-block; }

.kt-wizard-v4 [data-ktwizard-type="action-submit"] { display: none; }

.kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"] { display: none; }

.kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-next"] { display: inline-block; }

.kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-submit"] { display: none; }

.kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-prev"] { display: inline-block; }

.kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-next"] { display: inline-block; }

.kt-wizard-v4[data-ktwizard-state="between"] [data-ktwizard-type="action-submit"] { display: none; }

.kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-prev"] { display: inline-block; }

.kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-next"] { display: none; }

.kt-wizard-v4[data-ktwizard-state="last"] [data-ktwizard-type="action-submit"] { display: inline-block; }

/* // Responsive mode(ref $kt-media-breakpoints in framework\_config.scss)
// Above 1200px
@include kt-media-above(xl) {
	.kt-wizard-v4 {

	}
}

// Above 1024px and below 1200px
@include kt-media-range(lg, xl) {
	.kt-wizard-v4 {

	}
}

// Below 1024px
@include kt-media-below(lg) {
	.kt-wizard-v4 {

	}
} */