.kt-pricing-4 { padding-bottom: 4rem; }

.kt-pricing-4 .kt-pricing-4__top { background-color: #E0306E; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed {
    margin: 0 auto;
    width: 80%;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-header .kt-pricing-4__top-title {
    margin-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-header .kt-pricing-4__top-title > h1 { font-size: 2.3rem; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body { margin-right: 14.3rem; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items {
    -webkit-box-shadow: 0 -1.3rem 1.07rem 0.71rem #D93371;
    box-shadow: 0 -1.3rem 1.07rem 0.71rem #D93371;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item {
    background-color: white;
    border-left: 1px solid #e1f1ff;
    display: table-cell;
    text-align: center;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item:last-child { border-left: none; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__icon > i {
    font-size: 5rem;
    margin-top: 3.6rem;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__subtitle {
    color: #595d6e;
    font-size: 1.64rem;
    font-weight: 500;
    margin-top: 2.14rem;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__features {
    color: #74788d;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.43rem;
    margin-top: 2.14rem;
    padding: 0 0.71rem 0 0.71rem;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__price {
    color: #595d6e;
    font-size: 3.2rem;
    font-weight: 700;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__label {
    color: #74788d;
    font-size: 1.64rem;
    vertical-align: 43%;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__btn {
    margin-bottom: 3.6rem;
    margin-top: 1.43rem;
}

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__btn .btn { padding: 0.8rem 3.6rem 0.8rem 3.6rem; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile { display: none; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile > span { display: block; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile { color: #74788d; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile > span:first-child { color: #595d6e; }

.kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile:nth-child(odd) { background-color: #FAFBFF; }

.kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed {
    margin: 0 auto;
    width: 80%;
}

.kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed .kt-pricing-4__bottom-items {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed .kt-pricing-4__bottom-items .kt-pricing-4__bottom-item {
    color: #74788d;
    display: table-cell;
    font-weight: 700;
    padding: 1.43rem 0;
}

.kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed .kt-pricing-4__bottom-items .kt-pricing-4__bottom-item:first-child {
    color: #696B84;
    font-weight: 700;
    padding-right: 1.43rem;
    text-align: right;
    width: 14.3rem;
}

.kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed .kt-pricing-4__bottom-items:nth-child(odd) { background-color: #FAFBFF; }

@media (min-width: 1025px) and (max-width: 1399px) {
    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed {
        margin: 0 auto;
        width: 90%;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body { margin-right: 14.3rem; }

    .kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed {
        margin: 0 auto;
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-pricing-4 .kt-pricing-4__top { background: none; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed {
        margin: 0 auto;
        width: 90%;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-header {
        background-color: #E0306E;
        padding-bottom: 21.43rem;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body {
        margin: 0 auto;
        margin-top: -21.4rem;
        width: 80%;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item {
        border-bottom: 1px solid #e1f1ff;
        border-left: none;
        display: block;
        padding-bottom: 3.6rem;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__features { padding: 0 0.71rem 0 0.71rem; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__btn { display: none; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile {
        display: block;
        margin: 0 auto;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile { padding: 0.71rem 0 0.71rem 0; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile > span:first-child { font-weight: 700; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-btn { margin-top: 2.86rem; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-btn .btn { padding: 0.8rem 3.6rem 0.8rem 3.6rem; }

    .kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed { display: none; }
}

@media (max-width: 768px) {
    .kt-pricing-4 .kt-pricing-4__top { background: none; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed {
        margin: 0 auto;
        width: 100%;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-header {
        background-color: #E0306E;
        padding-bottom: 21.43rem;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-header .kt-pricing-4__top-title > h1 { font-size: 1.8rem; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body {
        margin: 0 auto;
        margin-top: -21.43rem;
        width: 80%;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item {
        border-bottom: 1px solid #e1f1ff;
        border-left: none;
        display: block;
        padding-bottom: 1rem;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__btn { display: none; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__features { padding: 0 0.71rem 0 0.71rem; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile {
        display: block;
        margin: 2.14rem auto;
    }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile { padding: 0.71rem 0 0.71rem 0; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-item-mobile > span:first-child { font-weight: 700; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-btn { margin-top: 2.86rem; }

    .kt-pricing-4 .kt-pricing-4__top .kt-pricing-4__top-container.kt-pricing-4__top-container--fixed .kt-pricing-4__top-body .kt-pricing-4__top-items .kt-pricing-4__top-item .kt-pricing-4__top-items-mobile .kt-pricing-4__top-btn .btn { padding: 0.8rem 3.6rem 0.8rem 3.6rem; }

    .kt-pricing-4 .kt-pricing-4__bottom .kt-pricing-4__bottok-container.kt-pricing-4__bottok-container--fixed { display: none; }
}