.kt-pricing-2 { padding: 0 0 2.86rem 0; }

.kt-pricing-2 .kt-pricing-2__head {
    background-color: #22B9FF;
    padding: 8.57rem 0 25rem 0;
    text-align: center;
}

.kt-pricing-2 .kt-pricing-2__head .kt-pricing-2__title {
    margin-top: -3.57rem;
    text-align: center;
}

.kt-pricing-2 .kt-pricing-2__head .btn-group {
    display: inline-block;
    margin: 2.5rem auto 0 auto;
    text-align: center;
}

.kt-pricing-2 .kt-pricing-2__head .btn-group .btn {
    background: #fff;
    color: #74788d;
    margin-right: -0.21rem;
    padding: 1rem 1.93rem 1rem 1.93rem;
}

.kt-pricing-2 .kt-pricing-2__head .btn-group .btn.active {
    background: #5d78ff;
    color: #ffffff;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container {
    margin: 0 auto;
    margin-top: -21.64rem;
    max-width: 75%;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items {
    background-color: #fff;
    padding: 2.14rem 0.71rem 2.14rem 0.71rem;
    position: relative;
    text-align: center;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item {
    border-right: 1px solid #e1f1ff;
    width: 100%;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item:last-child { border-right: none; }

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual {
    -webkit-transform: translateX(-50%) translateY(-50%);
    left: 50%;
    margin-top: 6.8rem;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual .kt-pricing-2__hexagon {
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: #F4FCFF;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual .kt-pricing-2__hexagon:before {
    -webkit-transform: translateX(-50%) translateY(-50%);
    border-bottom: 5.71rem solid #F4FCFF;
    border-left: 3.35rem solid transparent;
    border-right: 3.35rem solid transparent;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: -2.14rem;
    transform: translateX(-50%) translateY(-50%);
    width: 13.2rem;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual .kt-pricing-2__hexagon:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    border-left: 3.35rem solid transparent;
    border-right: 3.35rem solid transparent;
    border-top: 5.71rem solid #F4FCFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 3.57rem;
    transform: translateX(-50%) translateY(-50%);
    width: 13.21rem;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual .kt-pricing-2__icon {
    -webkit-transform: translateX(-50%) translateY(-50%);
    left: 50%;
    margin-top: 0.8rem;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__visual .kt-pricing-2__icon > i { font-size: 6.43rem; }

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__subtitle {
    color: #595d6e;
    font-size: 1.64rem;
    margin-top: 17.1rem;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__features {
    line-height: 2.2;
    margin: 2.14rem 0 1.8rem;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__features > span {
    color: #74788d;
    display: block;
    font-weight: 500;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__price {
    color: #595d6e;
    font-size: 3.21rem;
    font-weight: 600;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__label {
    color: #74788d;
    font-size: 25px;
    margin: 0.64rem 0 0 0.35rem;
    position: absolute;
}

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__btn { margin: 2.14rem auto 2.14rem auto; }

.kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__btn > .btn {
    font-size: 0.86rem;
    padding: 0.86rem 3.6rem 0.86rem 3.6rem;
}

@media (min-width: 1025px) and (max-width: 1399px) {
    .kt-pricing-2 .kt-pricing-2__content { padding: 0 2.14rem 0 2.14rem; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container { max-width: 90%; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item {
        border-right: 1px solid #e1f1ff;
        padding-left: 0.71rem;
        padding-right: 0.71rem;
    }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item:last-child { border-right: none; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__btn { margin: 1.43rem auto 3.6rem auto; }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-pricing-2 .kt-pricing-2__content { padding: 0 2.14rem 0 2.14rem; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container { max-width: 90%; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item {
        border-bottom: 1px solid #e1f1ff;
        border-right: none;
        margin-bottom: 2rem;
        padding-left: 0.71rem;
        padding-right: 0.71rem;
    }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__btn { margin: 1.43rem auto 3.6rem auto; }
}

@media (max-width: 768px) {
    .kt-pricing-2 .kt-pricing-2__head .kt-pricing-2__title { top: 4%; }

    .kt-pricing-2 .kt-pricing-2__head .kt-pricing-2__title > h1 { font-size: 1.8rem; }

    .kt-pricing-2 .kt-pricing-2__head .btn-group { top: 8%; }

    .kt-pricing-2 .kt-pricing-2__head .btn-group .btn { padding: 0.71rem 0.71rem 0.71rem 0.71rem; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container { width: 100%; }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item {
        border-bottom: 1px solid #e1f1ff;
        border-right: none;
        margin-bottom: 2rem;
        padding-left: 0.71rem;
        padding-right: 0.71rem;
    }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container .kt-pricing-2__items .kt-pricing-2__item .kt-pricing-2__btn { margin: 1.43rem auto 3.6rem auto; }
}